*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}
body{
    background-color: #4b4b4b;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}
#card{
    background: linear-gradient(135deg, #5ccccc, rgba(11, 17, 20, 0.1));
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
    
}
.top{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 40%;
}
.search{
    display: flex;
    line-height: 7rem;
    justify-content: center;
    align-items: center;
    gap: 7%;
    outline: none;
}
#search{
    background-color: white;
    border-radius: 50%;
    padding: 8px;
    color: black;
    cursor: pointer;
}
input{
    width: 60%;
    height: 35px;
    border-radius: 25px;
    border: none;
    color: black;
    padding: 0 15px;
    font-size: 16px;
    outline: none;
    cursor: pointer;
}
#eror{
    display: none;
    font-size: 15px;
    text-align: center;
    font-weight: bold;
}
.weather-icon{
    width: 100px;
    height: 100px;
    margin: 0 auto;
    align-content: center;
    display: none;
}
.middle{
    display: none;
}
.temperature{
    text-align: center;
    font-size: 300%;
    font-weight: 500;
}
.location{
    text-align: center;
    font-size: 40%;
    font-weight: 500;
    margin-left: auto;
}
.bottom_info{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-between;
    margin-top: 30px;
    width: 100%;
    
}
.humidity{
    display: flex;
    flex-direction: row;
    gap: 1px;
}
.humidity span{
    font-size: 250%;
}
.wind-speed{
    display: flex;
    flex-direction: row;
}
.wind-speed span{
    font-size: 250%;
}


